.text-bold {
    font-size: 105%;
}

.title-0 {
    font-size: 26px;
    margin-top: 12px;
    margin-bottom: 32px;
}


.big-icon image {
    -gtk-icon-size: 20px;
}

.icon-xl image {
    -gtk-icon-size: 50%;
}

.secondary {
    opacity: 0.55;
    font-size: small;
}

.connection-form {
    border-radius: 8px;
    padding: 1rem;
}